<!DOCTYPE html>
<html>
<head>
    <title>디테일 화면 - 구독EASY</title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/result.css" />
</head>
<body>
<header>
    <div class="wrap container">
        <div class="container">
            <h1 class="logo">
                <a href="/"><img src="/images/logo.png"/></a>
            </h1>
            <form action="/search" method="GET">
                <div class="search">
                    <input type="search" placeholder="카테고리 검색" name="q" autocomplete="off"/>
                    <button class="searchBtn" type="submit">
                        <svg id="searchBtn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="17.5781" cy="17.5781" r="5.32812" stroke-width="2"></circle>
                            <path d="M21.6182 21.618L24.7501 24.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <nav class="gnb">
            <ul>
                <% if(isAuthenticated){ %>
                    <li>
                        <a href="#" style="color: red; font-weight: bold">MY 구독</a>
                    </li>
                    <li>
                        <a href="/logout">로그아웃</a>
                    </li>
                <% } else {%>
                    <li>
                        <a href="/login">로그인</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section>
        <div class="wrap">
            <div class="content">
                <div class="top-logo">
                    <img src="<%= content.logo %>"/>
                </div>
                <div class="content-desc">
                    <li>서비스명</li>
                    <li><%= content.name %></li>
                </div>
                <div class="content-desc">
                    <li>카테고리</li>
                    <li>
                        <% for(var i in content.category){%>
                            <%= content.category[i]%>
                        <% } %>
                    </li>
                </div>
                <div class="content-desc">
                    <li>서비스 설명</li>
                    <li><%= content.description %></li>
                </div>
                <div class="content-desc">
                    <li>홈페이지</li>
                    <a href="<%= content.homepage %>" target="_blank"><li><%= content.homepage %></li></a>
                </div>
                <div class="content-desc">
                    <li>가격 정책</li>
                    <% if(content.max_price === 0) { %>
                    <li><%= content.min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> 원</li>
                    <% } else { %>
                        <li>최소 <%= content.min_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> 원 ~ 최대 <%= content.max_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>원</li>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <% if(sim.length > 0){%>
    <section class="middle">
        <div class="wrap">
            <div class="middle-word">
                <h2><strong><%= content.name %></strong>와 비슷한 다른 구독 서비스</h2>
            </div>
            <div class="middle-content">
                <ul class="grid">
                    <% if(sim.length > 3) {%>
                    <% for(var i=sim.length-1; i>sim.length-4; i--){%>
                        <li class="content-box">
                            <img class="content-logo" src="<%= sim[i].logo %>"/>
                            <h4 class="content-name"><%= sim[i].name %></h4>
                            <p class="desc"><%= sim[i].description %></p>
                            <a href="/detail/<%=sim[i]._id%>">
                                <div class="detail">
                                    가격비교/상세보기
                                </div>
                            </a>
                        </li>
                    <%}%>
                    <%} else {%>
                            <% for(var i in sim){%>
                                <li class="content-box">
                                    <img class="content-logo" src="<%= sim[i].logo %>"/>
                                    <h4 class="content-name"><%= sim[i].name %></h4>
                                    <p class="desc"><%= sim[i].description %></p>
                                    <a href="/detail/<%=sim[i]._id%>">
                                        <div class="detail">
                                            가격비교/상세보기
                                        </div>
                                    </a>
                                </li>
                            <%}%>
                    <% } %>
                </ul>
            </div>
        </div>
    </section>
    <% } %>
</main>
<footer>
    <div class="wrap">
        <p>Copyright © 2022 INHA University Project. All rights reserved.</p>
    </div>
</footer>
</body>
</html>